*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: grey;  

}
html, body{
  min-height: 100%;
  background-color: rgba(200, 200, 200, .3);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.character{
  min-width: 100%;
}
.stats{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px;
}
.largeStats{
  display: flex;
}
.popout{
  margin-right: auto;
  background-color: white;
  padding: 10px;
  box-shadow: 1px 2px 2px black;
  border-radius: 20%;
}
.hardStat{
  display: flex;
}
.hardStats{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
.home img{
  object-fit: cover;
}
input{
  border-radius: 9999em;
  text-align: center;
}
.jobs{
  display: flex;
  justify-content: space-between;
}
.progress{
  margin: 10px 0;
}
.welcome{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.welcome p{
  line-height: 2rem;
  text-align: center;
}
.logged{
  z-index: 999;
  background-color: white;
  border: 3px 3px blueviolet;
  align-content: center;
}
@media screen and (max-width: 500px){
  .stats{
    justify-content: space-evenly;
    padding: 0;
  }
}