*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Grenze Gotisch', sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: grey;  

}
html, body{
  min-height: 100%;
  background-color: rgba(200, 200, 200, .3);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
a{
  color: darkgray!important;
  text-decoration: none!important;
}
a:hover{
  transform: scale(1.4);
}
input{
  border-radius: 9999em;
  text-align: center;
}
.character{
  min-width: 100%;
}
.characterCreate{
  font-family: 'Cinzel Decorative', cursive;
  text-align: center;
  margin: 10px 0;
}
.characterCreate button{
  margin-top: 10px;
}
.characterList{
  display: flex;
  justify-content: space-between;
  border-bottom: solid black;
  text-align: center;
  margin-bottom: 5px;
  padding: 5px;
}
.characterList:hover{
  background-color: beige;
}
.characterName:hover{
  transform: scale(1.8) translate(25%, 0);
  cursor: pointer;
}
.hardStat{
  display: flex;
}
.hardStats{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
.home img{
  object-fit: cover;
}
.inside{
  font-family: 'Cinzel';
}
.jobs{
  display: flex;
  justify-content: space-between;
}
.list-group-item.active{
  background-color: white!important;
}
.largeStats{
  display: flex;
}
.loggedIn{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: lightgray;
  height: 100vh;
  text-align: center;
}
.progress{
  margin: 10px 0;
}
.profile{
  font-family: 'Grenze Gotisch', cursive, sans-serif;
}
.popout{
  margin-right: auto;
  background-color: white;
  padding: 10px;
  box-shadow: 1px 2px 2px black;
  border-radius: 20%;
}
.getProfile{
  max-width: 40%;
  background-color: darkgray;
  padding: 5px 30px;
  border-radius: 10px;
  max-height: fit-content;
}
.stats{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px;
}
.welcome{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.welcome p{
  line-height: 2rem;
  text-align: center;
}
@media screen and (max-width: 960px){
  .banner{
    max-width: 0%;
  }
  .loggedIn{
    display: inline-block;
    height: fit-content;
  }
  .getProfile{
    max-width: fit-content;
    margin: 30px;
  }
  .stats{
    justify-content: space-evenly;
    padding: 0;
  }
}
@media screen and (max-width: 500px){
  .banner{
    max-width: 0%;
  }
  .loggedIn{
    display: inline-block;
    height: fit-content;
  }
  .getProfile{
    max-width: fit-content;
    margin: 30px;
  }
  .stats{
    justify-content: space-evenly;
    padding: 0;
  }
}